useDynLib(mSSL, .registration=TRUE)
importFrom(Rcpp, evalCpp)
export(mpSSL)
export(fstarmSSL)
export(unitdiag)
export("mSSL", "gSSL", "cgVARSSL","rCARm","rCVARm","error_B", "error_Omega", "plot_support", "g_modelAR1")
import(MASS)
importFrom("graphics", "par", "points")